.m-5{
    margin: 1.5rem;
}
.width-60{
    width:60%
}
.row {
    display: flex;
    width: 100%;
 }

.col1 {
    width: 15%;
    margin-top: 2.1rem;
}
 .col2 {
    width: 85%;
}

.center{
    align-items: center;
}
.display{
    display: inline-block;
}
.fst-italic{
    font-style: italic;
    color: gray;
}

.font-small{
    font-size: small;
}
.mayus{
    text-transform:capitalize;
}
.fst-normal{
    font-style: normal;
}

.modal-overlay {
    padding: 2rem;
    background-color: #68bee685;
    margin-top: 8rem;
    display:flex;
    align-items: center;
    justify-content: center;
}

.modal-content{
    position: relative;
    padding: 2rem;
    width: 90%;
    height: 70%;
    max-width: 1000px;
    max-height: 800px;
    overflow: auto;
    border-radius: 1rem;
    background-color: white;
}